

@media screen and (min-width: 1400px) and (max-width: 7000px) {
  
  header .container-fluid
  {
    max-width: 1300px;
  }
  .pss-6 {
    right: 252px;
  }
  .pss-3 {
    left: 292px;
  }
  .pss-2 {
    left: 254px;
  }
  .pss-1 {
    left: 336px;
  }
  .pss-4 {
    right: 333px;
  }
  .pss-5 {
    right: 316px;
  }
  .via-5-pic-top ul li:nth-child(2) {
   margin: 70px 0 0 34px;
  }
  .via-5-pic-top ul li:nth-child(3) {
    margin: 5px 0 0 28px;
  }
  .via-5-pic-top ul li:nth-child(4) {
  margin: 59px 0 0 29px;
  }
  .via-5-pic-top ul li:nth-child(5) {
    margin: 8px 0 0 28px;
  }
  .via-5-pic-top ul li:nth-child(6) {
    margin: 51px 0 0 13px;
  }
  .f-b-5-sec .pss-4 {
    right: 288px;
  }
  .f-b-5-sec .pss-2 {
  left: 186px;
}
.f-b-5-sec .pss-5 {
  right: 177px;
}
.f-b-5-sec .pss-3 {
  left: 214px;
}
.utility-frame .pss-1 {
  left: 295px;
}
.utility-frame .pss-5 {
  right: 245px ;
}
.utility-frame .pss-2 {
  left: 220px;
}
.logis .pss-1 {
  left: 274px;
}
.logis .pss-5 {
  right: 237px;
}
.logis .pss-3 {
  left: 223px;
}
.logis .pss-2 {
  left: 187px;
}
.e-com .pss-1 {
  left: 282px;
}
.e-com .pss-2 {
  left: 233px;
}
.e-com .pss-5 {
  right: 177px;
}
.e-com .pss-3 {
  left: 242px;
}

}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  body 
  {
    overflow-x: hidden;
  }
  .snp-1::before {
    top: 184px;
  }
  .snp-3::before {
    top: 186px;
  }
  .snp-5::before {
    top: 186px;
  }
}

@media screen and (max-width: 1199px) {
  .navbar-expand-lg .navbar-nav {
    margin: 12px 0 0 0;
  }
  .pert-4-inner {
  margin-top: 0;
}
.pss-1, .pss-2, .pss-3, .pss-4, .pss-5, .pss-6 {
  width: 50% !important;
  height: auto;
  position: relative;
  top: 0;
  left: 0 !important;
  margin: 0 0 10px 0;
  float:left;
}
.p-4-text-sec {
  position: relative;
}
.ps-txt {
  width: 89% !important;
  font-size: 16px;
}
.pert-4-heading h3 {
  margin: 0 0 31px 0;
}

.pss-1, .pss-2, .pss-3
{
   flex-direction: row-reverse; 
}
.pert-4-inner-pic
{
  display: none;
}
.circl-text
{
  display: none;
}
.ow-dec p {
  font-size: 16px;
}
p 
{
  font-size: 16px !important;
}
}
@media screen and (max-width: 1024px) {
  .fb-sec-3-dec {
    font-size: 17px;
  }
  .management-dec h4 {
  font-size: 24px;
  font-weight: 500;
}
.h-left .dropdown-menu {
  left: 0;
}
.via-5-pic-top ul li {
  width: 33%;
  min-height: 220px;
  margin: 0 0 0px 0 !important;
  text-align: center;
}
.via-5-pic
{
  display: none;
}
.via-4 p span {
  font-size: 16px;
}
.via-1 .accordion-flush .accordion-item .accordion-button
{
  font-size: 16px;
}
.rcs-2-list ul li::before {
  width: 2em;
}
.inner-banner {
  padding: 20px 0 20px;
}
.p-2-inner ul li {
  width: 33%;
  margin: 0 0 30px;
}
.vendor-heading h3 {
  font-size: 30px;
}
.via-2-dec {
  font-size: 26px;
  line-height: 30px;
}
.fb-sec-4 {
  padding: 40px 0 20px;
}

}
@media screen and (max-width: 981px) {
  header .navbar-light .navbar-nav .nav-link {
  padding: 8px 10px;
  border-bottom: 1px dotted;
}
.pert-2-pic {
  display: none;
}
.pert-2-dec {
  width: 100%;
  position: relative;
  float: left;
  margin-top: 0;
  margin-right: 0;
}
.p-2-inner {
  margin: 0 0 0 0;
}
.pert-3 .pert-1-dec p {
  font-size: 16px;
}
.pert-4-heading p {
  font-size: 16px;
}
.pert-1-dec ul li {
  font-size: 16px;
}

.snp-add-heading {
  position: relative;
  top: 0;
  text-align: center;
  margin: 0 0 20px;
}
.snp-1 {
  width: 50%;
  position: relative;
  top: 0;
  left: 0;
  margin: 0 0 15px 0;
  display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.snp-2 {
  width: 50%;
  position: relative;
  top: 0;
  left: 0;
  margin: 0 0 15px 0;
  display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.snp-3 {
  width: 50%;
  position: relative;
  top: 0;
  left: 0;
  margin: 0 0 15px 0;
  display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.snp-4 {
  width: 50%;
  position: relative;
  top: 0;
  left: 0;
  margin: 0 0 15px 0;
  display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.snp-5 {
  width: 50%;
  position: relative;
  top: 0;
  left: 0;
  margin: 0 0 15px 0;
  display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.snp-pic
{
  display: none;
}
.snp-2::before, .snp-3::before, .snp-4::before, .snp-5::before, .snp-1::before
{
  display: none;
}
.snp-iner-pic {
  width: 20%;
  height: auto;
  text-align: left;
  float: left;
}
.snp-iner-pic img 
{
  max-width: 100%;
}
.snp-iner-dec
{
  position: relative;
  top: 0 !important;
  left: 0 !important;
  float: left;
  width: 78%;
  padding: 0 0 0 15px;
}
.snap-add-sec {
  margin: 0 0 0px 0;
}
ul.infoGraphic li {
  max-width: 33%;
}

.banner-dec h1 {
  font-size: 28px;
}
.fb-sec-3-dec {
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
}
.contact-sec .container {
  max-width: 720px;
}
.contact-sec {
  padding: 30px 0;
}
.regulatory-compliance-sec {
  padding: 30px 0;
  margin: 0px 0 0;
}
.regulatory-compliance-sec h3 {
  font-size: 34px;
}
.rcs-2-list ul li {
  padding: 15px 0 15px 10px;
}
.regulatory-compliance-sec-3 h3 {
  font-size: 34px;
  margin: 0 0 10px;
}
.regulatory-compliance-sec-3 p {
  font-size: 20px;
}
.about-2 {
  padding: 50px 0 0;
}
.about-3 {
  padding: 30px 0 0;
}
.via-2 {
  min-height: auto;
}
.via-2-inner {
  margin: 00px 0 0 0;
  padding: 20px 30px 20px;
}
.fb-sec-4-inner li p {
  text-align: justify;
}
.about-2 h3 {
  font-size: 30px;
}
.about-3 h3 {
  font-size: 30px;
}
.about-3 ul li {
  padding: 0 10px 0 20px;
}
.via-1 #faqlist {
  width: 95%;
}
.fb-sec-4-inner li {
  margin: 0 0 5px 0;
}
.recon-5-dec ul li {
  width: 50%;
  padding: 0 0 8px 15px;
}
.recon-5-dec ul li::before {
  top: 7px;
}
.recon-5-dec {
  border-top: 0px solid rgba(0, 0, 0, 0.2);
}
.recon-5 .vendor-heading h3 {
  font-size: 28px;
}
.recon-4 .vendor-heading h3 {
  font-size: 28px;
}
.recon-2 .vendor-heading h3 {
  font-size: 28px;
}
.re-dec h3 {
  font-size: 28px;
}
.rcs-4-heading h3 {
  font-size: 30px;
  max-width: 100%;
}



}
@media screen and (max-width: 767px) {
 .pert-1-pic {
    text-align: center;
    margin: 0 0 20px 0;
  } 
.pert-1-pic img {
  display: none;
}
.p-2-inner {
  margin: 20px 0 0 0;
}
.p-2-inner ul li {
  width: 100%;
  margin: 0 0 0px;
}
.pert-2-dec {
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin: 0 0 20px;
}
.banner-pic {
  text-align: left;
  margin:20px 0 0 0;
}
.pert-2-pic
{
  display: none;
}
.pert-2-dec .read-more {
  margin: 10px 0 13px 0;
}
.pert-2-dec p {
  font-size: 16px;
  margin: 0 0 10px 0;
  line-height: 24px;
  height: auto;
  text-align: justify;
}

ul.infoGraphic li {
  max-width: 100%;
}
.snp-add-heading {
  position: relative;
  top: 0;
  text-align: center;
  margin: 0 0 20px;
}
.snp-1,.snp-2,.snp-3,.snp-4,.snp-5 {
  width: 100%;
}

.line {
  padding: 0 10px;
  margin: 30px auto;
}
ul.infoGraphic li .coverWrap .numberCover {
  width: 13em;
}
.pert-4-inner {
  margin-top: 0;
}
.pss-1, .pss-2, .pss-3, .pss-4, .pss-5, .pss-6 {
  width: 100% !important;
}
.p-4-text-sec {
  position: relative;
}
.ps-txt {
  width: 91% !important;
}

.pss-1, .pss-2, .pss-3
{
   flex-direction: row-reverse; 
}
.ps-icon img {
  max-width: 80%;
}
.ft-logo
{
  text-align: center;
}
.pert-3 {
  padding: 30px 0 30px;
}
.ft-social {
  width: 100%;
}
.ft-social ul li
{
  padding: 10px 0 0 0;
  margin: 0 10px;
}
.ft-social ul
{
  display: flex;
  justify-content: center;
}
.pert-3 .pert-1-dec p {
  font-size: 16px;
}
.pert-4-heading p {
  font-size: 16px;
}
.pert-1-dec ul li {
  font-size: 16px;
}
.banner-dec p {
  font-size: 16px;
}
#faqlist {
  margin-top: 0;
}
.accordion-button
{
  font-size: 16px;
}
.about-tabs button {
  padding: 10px 12px;
  font-size: 16px;
}
.about-tabs::after {
  width: 100%;
}
.ow-dec p {
  font-size: 16px;
}
.about-3 h4 {
  font-size: 22px;
}
.about-2 h3 {
  font-size: 30px;
  text-align: center;
}
.own-pic {
  margin: 0 0 20px 0;
}
.own-pic img {
  width: auto;
  max-width: 100%;
}
.about-3 h3 {
  font-size: 30px;
}
.column-reverse
{
  flex-direction: column-reverse;
}
.management-dec {
  padding: 10px 0 30px 0;
  overflow: hidden;
}
.inner-banner {
  padding: 19px 0 40px;
}
.banner-dec h1 {
  font-size: 28px;
}
.fb-sec-4-inner li {
  width: 100%;
  margin: 0 0 0px 0;
  padding: 0 0 0 37px;
}
.f-b-5-sec .pss-2, .f-b-5-sec .pss-3 {
  width: 100%;
  left: 0;
}
.fb-sec-4-inner li p {
  padding: 0 0px 0 0;
  font-size: 16px;
  text-align: justify;
}
.fb-sec-3-dec {
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
}
.fb-sec-3-full {
  margin: 0 0 15px 0;
  min-height: auto;
  padding: 15px;
}
.utility-frame .pss-1 {
  width: 100%;
  left: 0px;
}
.logis .pss-1, .logis .pss-2, .logis .pss-3 {
  width: 100%;
  left: 0px;
}
.e-com .pss-1, .e-com .pss-2, .e-com .pss-3
{
  width: 100%;
  left: 0px;
}
footer ul {
  margin: 0px 0 16px;
}
.fb-sec-4 h4 {
  font-size: 20px;
}
.read-more {
  margin: 20px 0 15px 0;
}
.pert-4-heading h3 {
  margin: 0 0 20px 0;
}
.features-sec-icon {
  margin: 0 0 10px 0;
}
.header-right {
  justify-content: space-between;
}
footer h3 {
  font-size: 22px;
}
.h-left .dropdown-toggle
{
  border-right: 0px solid #BDBDBD;
}
.fb-sec-4 {
  padding: 30px 0;
}
.navbar .dropdown-toggle::after {
  float: right;
  margin-top: 9px;
}
.via-1 #faqlist {
  width: 100%;
}
.border-right::before
{
  display: none;
}
.via-1 {
  padding: 00px 0 50px;
  margin: 0 0 0;
}
.rcs-2-list ul li {
  padding: 15px 0 15px 0;
  font-size: 16px;
}
.rcs-2-list ul li::before {
  color: #E64848;
  width: 1em;
}
.vendor-heading h3 {
  font-size: 28px;
}
.via-5 {
  padding: 0 15px 0 15px;
}
.via-5-pic-top ul li {
  width: 50%;
  margin:0 0 20px 0 !important;
  min-height: 182px;
}
.via-5-pic
{
  display: none;
}
.via-2-dec {
  width: 94%;
  font-size: 24px;
  line-height: 31px;
}
.via-4 p span {
  display: block;
}
.via-2-inner h4 {
  font-size: 16px;
  margin: 0 0 12px;
}
.via-2 {
  padding: 30px 0;
  min-height: auto;
  background: #F8EDEB;
}
.via-2-inner {
  background: #fff;
  margin: 0px 0 0 0;
  padding: 26px 30px 20px;
}
.regulatory-compliance-sec h3 {
  font-size: 28px;
}
.regulatory-compliance-sec-3 {
  padding: 50px 0;
  background-size: cover;
}
.regulatory-compliance-sec-3 h3 {
  font-size: 32px;
  margin: 0 0 15px 0;
}
.regulatory-compliance-sec-3 p {
  font-size: 20px;
}
.regulatory-compliance-sec {
  padding: 20px 0 0;
  margin: 0 0 0;
}
.regulatory-compliance-sec p {
  padding: 0 0 0 0;
  text-align: justify;
}
.inp {
  margin: 0 0 15px 0;
}
.contact-sec .mb-4
{
  margin-bottom: 0px !important;
}
.contact-sec h3 {
  font-size: 32px;
}
.fnc p {

  text-align: justify;
}
.about-1 p {
  text-align: justify;
}
.pert-1 {
  padding: 30px 0 20px;
}
.pert-2 {
  padding: 30px 0 10px;
}
.via-5-pic-top ul li:nth-child(4)
{
  margin: -5px 0 30px 0 !important;
}
.via-5-pic-top ul li:nth-child(6)
{
  margin: -5px 0 30px 0 !important;
}
.recon-2 .key-plr li {
  width: 100%;
}

.recon-2 .re-dec li {
  width: 100%;
}
.ts {
  padding: 40px 0 0px;
}
.rcs-4-heading h3 {
  font-size: 23px;
  margin: 20px auto 0;
  max-width: 100%;
}

}