

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.eot');
    src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('../fonts/Gilroy-ExtraBold.ttf') format('truetype'),
        url('../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
:hover 
{
	transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition:all .4s;
    -o-transition: all .4s;
}


*
{
	padding: 0px;
	margin: 0px;
}
body 
{
	font-family: 'Rubik', sans-serif;
}
p 
{
	font-size: 16px;
	color: #7E7E7E;
}
.header-right
{
	display: flex;
}
.navbar-expand-lg .navbar-collapse
{
  justify-content: space-between;
}
 .navbar-expand-lg .navbar-nav {
    margin:5px 0 0 180px;
 }
header .navbar-light .navbar-nav .nav-link
{
  color:#000;
  font-size: 16px;
  padding: 0 15px;
}
.navbar-light .navbar-nav .nav-link.active
{
	color:#E64848;
}
.h-left
{
	padding:5px 5px 0 0;
}
.h-left .dropdown-toggle
{
   padding: 2px 15px;
  font-size: 16px;
  background: transparent;
  border: none;
/*  border-right: 1px solid #BDBDBD;*/
}
.h-left .dropdown-menu {
  left: -63px;
}

header .navbar
{
	padding-top: 12px;
  padding-bottom:12px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color:#E64848;
}
header
{
	transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition:all .4s;
    -o-transition: all .4s;
}
.fixed {
  position: fixed;
  top:0;
   left:0;
   z-index: 99;
  width: 100%; 
  background: rgba(255, 255, 255,1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition:all .4s;
    -o-transition: all .4s;
}
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #EA9797;
    border-color: #EA9797;
    color:#fff;
    padding: 5px 10px;
}
.back-to-top:focus-visible, .back-to-top:focus
{
	outline: none;
	box-shadow: none;
}

.banner
{
	width: 100%;
	height: auto;
	padding: 0px 0;
}
.banner-dec
{
	width: 100%;
	height: auto;
}
.banner-dec h1
{
  font-family: 'Gilroy';
  color:#000;
  font-size: 40px;
}
.banner-dec h4
{
  color:#000;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.banner-dec p
{
  color:#7E7E7E;
  font-size: 16px;
  text-align: justify;
}


.banner-pic
{
	width: 100%;
	height: auto;
	text-align: right;
}
.banner-pic img
{
	max-width: 100%;
	max-height: 600px;
}
.b-dec 
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.pert-1
{
	width: 100%;
	height: auto;
	padding: 50px 0;
	background: #F8EDEB;
	overflow: hidden;
}
.pert-1-pic
{
	width: 100%;
	height: auto;
	text-align: left;
}
.pert-1-pic img
{
	max-width: 100%;
	max-height: 600px;
	width: auto;
	height: auto;
}
.pert-1-dec h3
{
  color:#000;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}
.pert-1-dec ul 
{
	padding: 0 0 0 0;
}
.pert-1-dec ul li
{
	list-style: none;
	color:#7E7E7E;
	font-size: 16px;
	font-weight: 400;
	margin: 0 0 9px 0;
	position: relative;
	padding: 0 0 0 40px;
	text-align: justify;
}
.pert-1-dec ul li:before 
{
	content: "";
	position: absolute;
	left:0;
	top: 4px;
	background: url(../img/tick.png) no-repeat;
	width: 32px;
	height: 30px;
	background-size: 100% auto;
}
.read-more
{
	width: 100%;
	height: auto;
	margin: 32px 0 0 0;
}
.read-more a 
{
	padding: 8px 15px;
	text-decoration: none;
	color:#fff;
	font-size: 16px;
	background: #EA9797;
}
.read-more a:hover 
{
	background: #000;
	color:#fff;
}
.pert-2
{
	width: 100%;
	height: auto;
	padding: 50px 0;
	position: relative;
	overflow: hidden;
}
.p-2-inner
{
	width: 100%;
	height: auto;
	position: relative;
	margin: -102px 0 0 0;
}
.p-2-inner ul
{
	padding: 0px;
	margin: 0px;
}
.p-2-inner ul li 
{
	list-style: none;
	float: left;
	width: 20%;
	height: auto;
}
.pert-2-pic
{
	width: 100px;
	height: auto;
	min-height: 500px;
	position: relative;
}
.pert-2-pic img 
{
	max-width: 165px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.pert-2-dec
{
	width: 76%;
	height: auto;
	position: relative;
	float:right;
	margin-top:-115px ;
	margin-right: -38px;
}
.pert-2-dec h4 
{
	color:#000000;
	font-size: 18px;
	font-weight:400;
	margin: 0 0 4px 0;
}
.pert-2-dec p
{
	color:#7E7E7E;
	font-size: 14px;
	font-weight:400;
	margin: 0;
	line-height: 17px;
	height: 50px;
  	overflow: hidden;

}
.pert-2-dec .read-more {
  margin: 10px 0 0 0;
}
.pert-2-dec .read-more a {
  font-size: 13px;
}

.pert-3
{
	width: 100%;
	height: auto;
	padding: 50px 0 70px;
	background: #F8EDEB;
	position: relative;
	overflow: hidden;
}
.pert-3 .pert-1-dec p
{
  color: #7E7E7E;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}
.line
{
	width: 100%;
	height: auto;
	padding: 0 30px;
	margin: 50px auto;
}
.line hr 
{
	border-top:2px dotted #000 ;
	background: transparent;
}
.snap-add-sec
{
	width: 100%;
	height: auto;
	position: relative;
	margin: 50px 0 0 0;
}
.snp-pic
{
	width: 100%;
	height: auto;
	margin:150px 0 150px 0 ;
}
.snp-pic img 
{
	width: 100%;
}
.snp-1
{
	width: 23.2%;
	height: auto;
	float: left;
	position: absolute;
	top: 60px;
	left: 0;
}
.snp-1:before
{
    content: "";
    height:150px;
    background: #000;
    width: 1px;
    position: absolute;
    left:70%;
    top: 207px;
}
.snp-2
{
	width: 20%;
	height: auto;
	float: left;
	position: absolute;
	top: 140px;
	left: 23.4%;
}
.snp-2:before
{
    content: "";
    height:150px;
    background: #000;
    width: 1px;
    position: absolute;
    left:50%;
    top: -188px;
}
.snp-3
{
	width: 20%;
	height: auto;
	float: left;
	position: absolute;
	top: 60px;
	left: 40%;
}
.snp-3:before
{
    content: "";
    height:150px;
    background: #000;
    width: 1px;
    position: absolute;
    left: 48%;
    top: 209px;
}
.snp-4
{
	width: 20%;
	height: auto;
	float: left;
	position: absolute;
	top: 140px;
	left: 56.4%;
}
.snp-4:before
{
    content: "";
    height:150px;
    background: #000;
    width: 1px;
    position: absolute;
    left:49%;
    top: -188px;
}
.snp-5
{
	width: 20%;
	height: auto;
	float: left;
	position: absolute;
	top: 60px;
	left: 72.5%;
}
.snp-5:before
{
    content: "";
    height:150px;
    background: #000;
    width: 1px;
    position: absolute;
    left: 50%;
    top: 207px;
}
.snp-iner-pic
{
	width: 100%;
	height: auto;
	text-align: center;
}
.snp-1 .snp-iner-pic
{
  text-align: right;
}
.snp-iner-dec
{
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	max-width: 320px;
}
.snp-iner-dec p 
{
	font-size: 16px;
	color:#7E7E7E;
	text-align: justify;
}
.snp-1 .snp-iner-dec
{
  top: 280px;
  left: 225px;
}
.snp-2 .snp-iner-dec
{
  top: -180px;
  left: 140px;
}
.snp-3 .snp-iner-dec
{
  top: 260px;
  left: 141px;
}
.snp-4 .snp-iner-dec
{
  top: -180px;
  left: 140px;
}
.snp-5 .snp-iner-dec
{
  top: 260px;
  left: 140px;
}



.pert-4
{
	width: 100%;
	height: auto;
	padding: 50px 0 60px;
	position: relative;
	overflow: hidden;
}
.pert-4-heading
{
	text-align: center;
}


.pert-4-heading h3 
{
	color:#000000;
	font-size: 26px;
	font-weight:500;
	margin: 0 0 4px 0;
}
.pert-4-heading p
{
	color:#7E7E7E;
	font-size: 16px;
	font-weight:400;
}
.pert-4-inner
{
	width: 100%;
	height: auto;
	position: relative;
	margin-top:30px;
}
.pert-4-inner-pic
{
	width: 100%;
	height: auto;
	text-align: center;
	margin: 30px 0 0 0;
	position: relative;
}
.pert-4-inner-pic img 
{
	max-width: 450px;
}
.p-4-text-sec
{
	width: 100%;
	height: auto;
	position:absolute;
	top: 0;
	left: 0;
}
.pss-1
{
  width: 240px;
  height: auto;
  position: absolute;
  top: 39px;
  left: 247px;
  display: flex;
  justify-content: space-between;
}
.ps-icon
{
	width: 30px;
	height: auto;
}
.ps-icon img 
{
	max-width:100%;
	height: auto;
}
.ps-txt
{
	color:#7E7E7E;
	font-size: 16px;
}
.pss-2
{
  width: 203px;
  height: auto;
  position: absolute;
  top: 190px;
  left: 164px;
  display: flex;
  justify-content: space-between;
}
.pss-3
{
  width: 200px;
  height: auto;
  position: absolute;
  top: 368px;
  left: 202px;
  display: flex;
  justify-content: space-between;
}
.pss-4
{
  width: 239px;
  height: auto;
  position: absolute;
  top: 44px;
  right: 243px;
  display: flex;
  justify-content: space-between;
}
.pss-5
{
  width: 141px;
  height: auto;
  position: absolute;
  top: 190px;
  right: 227px;
  display: flex;
  justify-content: space-between;
}
.pss-6
{
  width: 240px;
  height: auto;
  position: absolute;
  top: 368px;
  right: 162px;
  display: flex;
  justify-content: space-between;
}
.pss-6 .ps-txt {
  width: 80%;
}
#faqlist
{
	margin-top: 30px;
}
.accordion-collapse {
    border: 0;
}
.accordion-button {
    padding:12px 10px;
    font-weight: 400;
    border: 0;
    font-size: 18px;
    color: #000;
    text-align: left;
    border-bottom: 1px solid #ddd; 
}
.accordion-button:focus {
    box-shadow: none;
    border: none;
}
.accordion-button:not(.collapsed) {
    background: none;
    color: #E64848;
}
.accordion-body {
    padding: 15px;
    background-color: #f6f6f6;
    text-align: justify;
}
.accordion-button::after {
    width: auto;
    height: auto;
    content: "+";
    font-size: 28px;
    background-image: none;
    font-weight: 100;
    color: #000;
    transform: translateY(-4px);
}
.accordion-button:not(.collapsed)::after {
    width: auto;
    height: auto;
    background-image: none;
    content: "-";
    font-size: 30px;
    transform: translate(-5px, -4px);
    transform: rotate(0deg);
}


/** Infographic**/

ul.infoGraphic {
  font-size:16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
ul.infoGraphic li {
  position: relative;
  width: 100%;
  max-width:20%;
  background: #fff;
  border-radius: 0.5em;
  padding:0;
  z-index: 1;
  transition: all 0.2s;
  cursor: pointer;
  list-style: none;
}
ul.infoGraphic li .numberWrap {
  position: absolute;
}
ul.infoGraphic li .number {
  font-size: 9em;
  font-weight: 800;
  width: 0.9em;
  text-align: center;
}
ul.infoGraphic li .number.fontColor1 {
  color: #F8B4B4;
}
ul.infoGraphic li .number.fontColor2 {
  color: #E64848;
}
ul.infoGraphic li .number.fontColor3 {
  color: #A92140;
}
ul.infoGraphic li .number.fontColor4 {
  color: #F8B4B4;
}
ul.infoGraphic li .number.fontColor5 {
  color:#E64848;
}

ul.infoGraphic li .coverWrap {
  transform: rotate(130deg);
  position: absolute;
  width: 16em;
  height: 15em;
  left: -4em;
  top: -1em;
}
ul.infoGraphic li .coverWrap .numberCover {
  position: absolute;
  background:#fff;
  width: 18em;
  height: 6em;
  border-radius: 50% 50% 0 0;
  border-bottom: 3px solid #f5f8f7;
  transition: all 0.4s;
}
ul.infoGraphic li .coverWrap .numberCover::before {
  position: absolute;
  content: "";
  bottom: 5px;
  left: 4em;
  right: 4em;
  top: 5em;
  box-shadow: 0 0 30px 0px #48668577;
  border-radius: 100px/10px;
  z-index: -1;
}
ul.infoGraphic li .coverWrap .numberCover::after {
  position: absolute;
  bottom: 0;
  content: "";
  left: -10%;
  width: 120%;
  height: 70px;
  background: radial-gradient(at bottom, #48668533, transparent, transparent);
  z-index: 1;
}
ul.infoGraphic li .content {
  margin: 116px 0em 0em 6em;
  position: relative;
}

ul.infoGraphic li .content p {
  line-height: 20px;
  font-size: 14px;
  color: #000000;
  text-align: justify;

}

ul.infoGraphic li:hover .coverWrap .numberCover {
  border-radius: 100%;
}

.snp-add-heading
{
	position: absolute;
	top:-40px;
	left: 0;
	font-size: 26px;
	font-weight: 500;
	color:#000000;
}
.dp .nav-link span
{
  float: right;
}
.dp:hover .dropdown-menu 
{
  display: block;
  left: 159px;
  top: 0;
}
.inner-banner
{
	width: 100%;
	height: auto;
	padding: 50px 0;
	position: relative;
}
.banner-dec h5
{
  font-weight: 500;
  font-size: 18px;
  color:#7E7E7E;
}
.about-1
{
	width: 100%;
	height: auto;
	padding: 50px 0;
	background: #F8EDEB;
}
.about-1 h3 
{
	font-size: 25px;
	color:#000;
	font-weight: 600;
	margin: 0 0 15px 0;
}
.about-1 p
{
	font-size: 16px;
	color:#7E7E7E;
	margin: 0;
}
.about-2
{
	width: 100%;
	height: auto;
	padding: 50px 0;
	overflow: hidden;
}
.about-2 h3
{
	font-family: 'Gilroy';
  color: #000;
  font-size: 38px;
}

.mg-social
{
	width: 100%;
	height: auto;
	float: left;
}
.mg-social ul
{
	padding: 0px;
	margin: 0px;
}
.mg-social ul li
{
	float: left;
	width: auto;
	height: auto;
	font-size: 16px;
	list-style: none;
	margin: 0 12px 0 0;
}

.mg-social ul li svg
{
  width: 22px;
  fill: #000;
}
.mg-social ul li svg:hover 
{
	fill: #E64848;
}
.mg-social ul li a 
{
	color:#000;
	text-decoration: none;
}
.mg-social ul li a:hover 
{
	color:#E64848;
}


.about-2 .justify-content-center
{
	align-items: center;
}
.ow-dec h4
{
  color:#000;
  font-size: 25px;
  font-weight: 500;
  margin: 0 0 10px 0;
}
.ow-dec h5
{
  color:#000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 10px 0;
}
.ow-dec p 
{
	color:#7E7E7E;
	font-size: 16px;
	text-align: justify;
}
.own-pic
{
	width: 100%;
	height: auto;
}
.own-pic img 
{
	width: 100%;
}
.management-pic
{
	width: 100%;
	height: auto;
}
.management-pic img 
{
	width: 100%;
	height: auto;
}
.management-dec
{
	width: 100%;
	height: auto;
	padding: 10px 0 0 0;
}
.about-tabs
{
	width: 100%;
	height: auto;
	margin: 0 0 30px 0;
	position: relative;
}
.about-tabs:after
{
	content: "";
	position: absolute;
	bottom: 0px;
	width: 50%;
	height: auto;
	border-top:1px solid #ccc;
	left: 0;
	z-index: -1;
}
.about-tabs button 
{
	background:none;
	border: 0px;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: 500;
	color:#7E7E7E;
}
.about-tabs button.active 
{
	border-bottom: 1px solid #000;
	color:#000;
}
.management-dec h4 
{
	font-size: 25px;
	font-weight: 600;
	color:#000;
}
.management-dec p
{
	font-size: 16px;
	font-weight: 400;
	color:#7E7E7E;
}
.about-3
{
	width: 100%;
	height:auto;
	padding: 50px 0;
}
.about-3 h3 
{
	font-size: 38px;
	font-family: 'Gilroy';
	margin: 0px 0 20px 0;
}
.about-3 h4 
{
	margin: 25px 0 10px 0;
	font-size: 25px;
	font-weight: 500;
}
.about-3 ul
{
	width: 100%;
	height: auto;
	padding: 0px 0 20px 0;
	margin: 0px;
	overflow: hidden;
}
.about-3 ul li
{
	list-style: none;
	float: left;
	width: auto;
	height: auto;
	position: relative;
	padding: 0 10px 0 25px;
	font-size: 16px;
	color:#7E7E7E;
}
.about-3 ul li:before 
{
	content: "";
	position: absolute;
	left: 0;
	top: 7px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #CE3A3A;
}
.fb-sec-1
{
	width: 100%;
	height: auto;
	padding:30px 0 50px;
}
.features-sec
{
	width: 100%;
	height: auto;
	text-align: center;
	max-width: 360px;
  margin: 0px auto;
}
.features-sec-icon
{
	width: 100%;
	height: auto;
	margin: 0 0 30px 0;
}
.features-sec-icon img 
{
	max-width: 100%;
	width: auto !important;
	margin: 0px auto;
}
.fb-sec-1 h3 
{
	text-align: center;
	font-size: 25px;
	color:#000;
	font-weight: 500;
}
.features-sec-dec h4 
{
  font-size: 23px;
	color:#000;
	font-weight: 500;
}
.features-sec-dec p 
{
  font-size: 16px;
	color:#7E7E7E;
	font-weight: 400;
}
.fb-sec-1 .owl-dot.active span
{
  background: #A92140 !important;
}
.fb-sec-2
{
	width: 100%;
	height: auto;
	padding: 60px 0;
	background: #F8EDEB;
	text-align: center;
}
.fb-sec-2 img 
{
	max-width: 100%;
}
.fb-sec-3
{
	width: 100%;
	height: auto;
	padding: 50px 0;
	overflow: hidden;
}
.fb-sec-3 h3 
{
	text-align: center;
	font-size: 25px;
  font-weight: 500;
  color:#000;
}
.fb-sec-3-full
{
  width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px;
	border: 1px solid #D9D9D9;
	border-radius: 5px;
	margin: 0 0 30px 0;
	min-height: 128px;
}
.fb-sec-3-icon
{
	margin: 0 10px 0 0;
}
.fb-sec-3-dec
{
  color: #7E7E7E;
  font-size: 18px;
  line-height: 25px;
}
.fb-sec-4
{
	width: 100%;
	height: auto;
	padding: 50px 0;
	background: #F8EDEB;
}

.fb-sec-4 h4 
{
  font-size: 24px;
	color:#000;
	font-weight: 500;
}
.fb-sec-4 p 
{
  font-size: 16px;
	color:#7E7E7E;
	font-weight: 400;
}
.fb-sec-4-inner
{
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	display: flex;
  flex-wrap: wrap;
}
.fb-sec-4-inner li {
  width: 50%;
  height: auto;
  float: left;
  list-style: none;
  position: relative;
  margin: 0 0 20px 0;
  padding: 0 0 0 50px;
}
.fb-sec-4-inner li:before
{
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	background: url(../img/red-tick.png) no-repeat;
	width: 26px;
	height: 26px;
}
.fb-sec-4-inner li p 
{
	padding: 0 20px 0 0;
}

.f-b-5-sec .pss-4 {
  width: 284px;
  right: 198px;
}
.f-b-5-sec .pss-5 {
  width: 280px;
  right: 88px;
}
.f-b-5-sec .pss-2 {
  width: 271px;
  left: 97px;
}
.f-b-5-sec .pss-3 {
  width: 278px;
  left: 127px;
}
.circl-text {
  position: absolute;
  top: 149px;
  left: 0;
  right: 0;
  width: 300px;
  margin: 0px auto;
  text-align: center;
}
.circl-text h4 
{
	font-size: 25px;
	font-weight: 500;
	color:#000;
	margin: 0 0 20px 0;
}
.circl-text h5 
{
	font-size: 16px;
	font-weight: 400;
	color:#000;
	background: #F8B4B4;
	padding: 10px 10px;
}

.utility-frame .pss-1 {
  width: 280px;
  left: 209px;
}
.utility-frame .pss-5 {
  width: 213px;
  right: 154px;
}
.utility-frame .pss-2 {
  width: 239px;
  left: 129px;
}
.e-com .pss-1 {
  width: 294px;
  left: 197px;
}
.e-com .pss-5 {
  width: 280px;
  right: 88px;
}
.e-com .pss-2 {
  width: 226px;
  left: 141px;
}
.e-com .pss-3 {
  width: 254px;
  left: 151px;
}
.logis .pss-1 {
  width: 304px;
  left: 187px;
}
.logis .pss-2 {
  width: 270px;
  left: 100px;
}
.logis .pss-3 {
  width: 270px;
  left: 134px;
}
.logis .pss-5 {
  width: 220px;
  right: 149px;
}
.logic-serv
{
	text-align: center;
	margin-top: 30px;
}
.logic-serv img 
{
	max-width: 100%;
}

.contact-sec
{
  width: 100%;
  height: auto;
  padding: 70px 0;
}
.contact-sec .container
{
	max-width: 900px;
}
.contact-sec h4 {
  font-weight: 500;
  font-size: 18px;
  color: #7E7E7E;
}
.contact-sec h3 {
  font-family: 'Gilroy';
  color: #000;
  font-size: 40px;
}
.contact-sec h5 {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.inp
{
	width: 100%;
	height: auto;
}
.inp input{
	width: 100%;
	height: 45px;
	border: 1px solid #ccc;
	padding: 10px 15px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 

}
.inp textarea{
	width: 100%;
	height: 125px;
	border: 1px solid #ccc;
	padding: 10px 15px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}

.inp input[type=submit]{
	width: auto;
	height: 45px;
	border: 1px solid #EA9797;
	padding: 10px 25px;
	background: #EA9797;
	color:#fff;
	border-radius: 5px;
}
.inp input[type=submit]:hover
{
	background: #000;
	border: 1px solid #000;
	color:#fff;
}
.regulatory-compliance-sec
{
  width: 100%;
	height: auto;
	padding: 60px 0;
	position: relative;
	margin: 30px 0 0;
}
.regulatory-compliance-sec h5  
{
	font-weight: 400;
  font-size: 18px;
  color: #7E7E7E;
}
.regulatory-compliance-sec h5 a 
{
	color: #7E7E7E;
	text-decoration: none;
}
.regulatory-compliance-sec h5 a:hover 
{
	color:#E64848;
}
.regulatory-compliance-sec h3  
{
	font-family: 'Gilroy';
  color: #000;
  font-size: 40px;
}
.regulatory-compliance-sec p  
{
  color: #000;
  font-size: 16px;
  padding: 0 0 0 0px;
  text-align: justify;
}
.regulatory-compliance-sec ul  
{
  padding: 0 0 0 0px;
  margin: 0;
}
.regulatory-compliance-sec ul li 
{
	list-style: none;
	color:#000;
	margin: 0 0 3px 0;
	font-size: 16px;
}
.border-right:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	min-height: 250px;
	width: 1px;
	margin: 0px auto;
}
.regulatory-compliance-sec-2
{
  width: 100%;
	height: auto;
	padding:30px 0 50px;
}
.rcs-2-list
{
	width: 100%;
	height: auto;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.rcs-2-list ul
{
	padding: 0px;
	margin: 0px;
	counter-reset: li;
}
.rcs-2-list ul li
{
	width: 100%;
	height: auto;
	padding: 25px 0 25px 180px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	list-style: none;
	font-size: 16px;
	color:#000;
	position: relative;
	counter-increment: li;
}
.rcs-2-list ul li::before {
	content: counter(li); 
	color: #000;
  display: inline-block;
   width: 4em;
}
.regulatory-compliance-sec-3
{
	width: 100%;
	height: auto;
	padding:90px 0;
	text-align: center;
	background:url(../img/bg-1.jpg) no-repeat;
	background-size: 100% 100%;
	position: relative;
}

.regulatory-compliance-sec-3 h3 
{
	font-family: 'Gilroy';
  color: #fff;
  font-size: 40px;
  margin: 0;
}
.regulatory-compliance-sec-3 h3 a 
{
  color: #fff;
  text-decoration: none;
}
.regulatory-compliance-sec-3 h3 a:hover 
{
	color: #E64848;
}
.regulatory-compliance-sec-3 p 
{
  color: #fff;
  font-size:25px;
  font-weight: 400;
}

.regulatory-compliance-sec-4 .fb-sec-3-dec 
{
  color: #000;
}
.via-1
{
	padding: 30px 0 50px;
	margin: 30px 0 70px;
}
.via-1 #faqlist {
  margin-top:0px;
  width: 91%;
  float: right;
}
.via-1 .accordion-button::after
{
  position: absolute;
  left: 0;
  top: 10px;
}
.via-1 .accordion-flush .accordion-item .accordion-button {
  border-radius: 0;
  position: relative;
  padding: 14px 10px 14px 40px;
}
.via-1 .accordion-button:not(.collapsed)::after
{
	top: 6px;
}

.via-2
{
	width: 100%;
	height: auto;
	padding:50px 0;
	min-height: 500px;
	background:url(../img/bg-2.jpg) no-repeat;
	background-size:cover;
	position: relative;
}


.via-3
{
	width: 100%;
	height: auto;
	padding:50px 0;
}
.vendor-heading h5
{
  font-weight: 400;
  font-size: 18px;
  color: #7E7E7E;
}
.vendor-heading h3 
{
	font-family: 'Gilroy';
  color: #000;
  font-size: 40px;
  margin: 0 0 30px 0;
}
.via-4
{
	width: 100%;
	height: auto;
	padding:40px 40px;
	background: #F8EDEB;
}
.via-4 h4
{
  color:#E64848;
  font-size: 25px;
  font-weight: 500;
  margin: 0 0 15px 0;
  text-align: center;
}
.via-4 p
{
  color:#000000;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 0px 0;
  text-align: center;
}
.via-4 p span 
{
	margin: 0 7px;
	font-size: 26px;
}
.via-5
{
	position: relative;
	padding: 0 0 25px 0;
}
.via-5-pic-top
{
	width: 100%;
	height: auto;
	float: left;
	min-height: 285px;
}
.via-5-pic-top img 
{
	max-width: 100%;
}
.via-5-pic-top ul
{
	padding: 0px;
	margin: 0px;
}
.via-5-pic-top ul li
{
	list-style: none;
	width: 15%;
	height: auto;
	float:left;
}

.via-5-pic
{
	width: 96%;
	height: auto;
	position: absolute;
	bottom: 0;
	z-index: -1;
	margin: 0px auto;
  left: 0;
  right: 0;
}
.via-5-pic img 
{
	width: 100%;
	height: auto;
}
.via-5-pic-top ul li:nth-child(1)
{
	margin:25px 0 0 0;
}
.via-5-pic-top ul li:nth-child(2)
{
	margin:80px 0 0 22px;
}
.via-5-pic-top ul li:nth-child(3)
{
	margin: 27px 0 0 28px;
}
.via-5-pic-top ul li:nth-child(4)
{
	margin:80px 0 0 22px;
}
.via-5-pic-top ul li:nth-child(5)
{
	margin: 27px 0 0 28px;
}
.via-5-pic-top ul li:nth-child(6)
{
	margin:72px 0 0 13px;
}
.via-2-inner
{
	width: 100%;
	max-width: 460px;
	min-height: 220px;
	background: #F8EDEB;
	box-shadow: 5px 6px 4px 2px rgba(0, 0, 0, 0.25);
	padding:40px 30px 20px;
	float: right;
	margin: 40px 0 0 0;
}
.via-2-dec
{
	width: 70%;
	height: auto;
	font-family: 'Gilroy';
  color: #000;
  font-size: 32px;
  margin: 0 0 0 0;
  line-height:38px;
}
.via-2-dec span 
{
	color: #7E7E7E; 
	font-weight: 400;
	font-size: 15px;
	font-family: 'Rubik', sans-serif;
}
.via-2-icon
{
	width: 30%;
	height: auto;
}
.via-2-inner h4 
{
	color: #7E7E7E; 
	font-weight: 400;
	font-size: 18px;
	margin: 0 0 20px;
}
.inner-pg
{
	width: 100%;
	height: auto;
	padding: 50px 0;
}
.inner-heading h4
{
  font-weight: 500;
  font-size: 18px;
  color: #7E7E7E;
}
.inner-heading h3 {
  font-family: 'Gilroy';
  color: #000;
  font-size: 40px;
}
.resources-sec
{
	width: 100%;
	height: auto;
	padding: 10px;
	background: #F8EDEB;
	min-height: 300px;
	margin: 0 0 20px 0;
}
.resources-pic
{
	width: 100%;
	height: auto;
	margin: 0 0 10px 0;
}
.resources-pic img 
{
	max-width: 100%;
	height: auto;
}
.resources-sec h4 
{
	font-size: 22px;
}
.inp input:focus-visible 
{
	outline: none;
}
.inp textarea:focus-visible 
{
	outline: none;
}
.financial-1
{
	width: 100%;
	height: auto;
	padding: 60px 0;
}
.fnc 
{
	width: 100%;
	height: auto;
}
.fnc p 
{
	margin: 0;
	color:#7E7E7E;
	font-weight: 400;
	font-size: 16px;
	text-align: justify;
}
.fnc h3
{
	color:#000000;
	font-size: 25px;
	font-weight: 500;
	display: flex;
	justify-content: left;
	align-items: center;
}
.fnc h3 span
{
  color:#E64848;
  font-size: 50px;
  margin: 0 15px 0 0;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #e64848;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background: #e64848;
  border:1px solid #e64848;
  padding: 5px 10px;
}
#btn-back-to-top:hover 
{
	background: #000;
}
#btn-back-to-top:focus-visible 
{
	outline: none;
	box-shadow: none;
}



footer
{
	background: #343434;
	padding: 40px 0 20px;
}
footer h3 
{
	color:#fff;
}
footer h4 
{
	color:#fff;
	font-size: 22px;
	font-weight: 500;
	margin: 0 0 15px 0;
}
footer ul
{
	padding: 0px;
	margin: 0px;
}
footer ul li 
{
	list-style: none;
	margin: 0 0 7px 0;
	color:#fff;
	font-size: 16px;
	font-weight: 400;
	position: relative;
	padding: 0 0 0 15px;
}
footer ul li a 
{
	color:#fff;
	text-decoration: none;
}
footer ul li a:hover
{
	color:#F8B4B4;
}
footer ul li:before
{
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	background: url(../img/bu.png) no-repeat;
	width: 6px;
	height: 12px;
}
footer .line 
{
  margin: 0px auto;
  padding: 0 0px;
}
footer .line  hr {
  border-top: 2px dotted #fff;
}
.ft-logo p
{
  color:#fff;
  margin: 0;
  font-size: 14px;
}
.ft-logo img 
{
	margin: 0 0 5px 0;
}
.ft-social
{
	width: auto;
	height: auto;
	float: right;
}
.ft-social ul li
{
	float: left;
	width: auto;
	height: auto;
	font-size: 23px;
	list-style: none;
}
.ft-social ul li:before 
{
  display: none;
  padding: 0;
}
.ft-social ul li svg
{
  width: 27px;
  fill: #fff;
}
.ft-social ul li svg:hover 
{
	fill: #F8B4B4;
}

.privacy p 
{
	 color: #606060;
	 text-align: justify;
}
.privacy ul li
{
  font-size: 16px;
  color: #606060;
  text-decoration: none;
  text-align: justify;
  margin: 0 0 10px 0;
  list-style: decimal;
}
.privacy ul li b 
{
	font-weight: 500;
	color:#EA9797;
}
.privacy p b {
  font-weight: 500;
  color: #EA9797;
}
.reconcilation-engine-top
{
	padding: 30px 0 30px 0;
}

.ret-flex
{
	display: flex;
	justify-content: left;
	align-items: center;
}
.reconcilation-engine-top ul
{
	padding:0 0 0 18px;
	margin: 0 0 10px 0;
}
.reconcilation-engine-top ul li
{
  list-style: decimal;
  font-size: 16px;
  color:#000;
}
.reconcilation-engine-top p 
{
	margin: 0 0 5px 0;
	font-size: 16px;
	text-align: justify;
	padding: 0;
}
.recon-2 h5
{
  font-size: 18px;
  font-weight: 500;
  color:#000;
}
.recon-2 p 
{
	margin: 0;
	color:#000;
	text-align: justify;
}
.recon-2 .fb-sec-3-full
{
	align-items: flex-start;
	justify-content: left;
	min-height: auto;
	margin: 0 0 0px 0;
}
.recon-4 .rcs-2-list ul li
{
  padding: 20px 0 20px 0;
}
.re-dec h3
{
  font-family: 'Gilroy';
  color: #000;
  font-size: 32px;
  text-align: left;
  margin: 0 0 25px 0;
}

.re-dec {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.re-dec ul
{
	padding: 0px;
	margin: 0;
}
.re-dec ul li {
  width: 100%;
  height: auto;
  float: left;
  list-style: none;
  position: relative;
  margin: 0 0 20px 0;
  padding: 0 0 0 50px;
  font-size: 16px;
  text-align: justify;
}
.re-dec ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  background: url(../img/red-tick.png) no-repeat;
  width: 26px;
  height: 26px;
}
.re-pic
{
	width: 100%;
	height: auto;
	text-align: right;
}
.re-pic img 
{
	max-width: 100%;
	height: auto;
}
.recon-2
{
	padding: 50px 0 0 0;
}
.recon-2 .vendor-heading h3
{
  font-size: 32px;
  text-align: center;
}
.recon-4 .vendor-heading h3
{
  font-size: 32px;
}
.recon-5 .vendor-heading h3
{
  font-size: 32px;
}
.recon-5
{
	padding: 0 0 30px 0;
}
.recon-5-dec
{
	position: relative;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.recon-5-dec ul
{
	padding: 0px;
	margin: 0px;
}
.recon-5-dec ul li 
{
	width: 20%;
	height: auto;
	position: relative;
	float: left;
	list-style: none;
	font-size: 16px;
	padding: 15px 0 0 0 ;
}
.recon-5-dec ul li:before 
{
	content: "";
	width: 10px;
	height: 10px;
	background: #EA9797;
	border-radius: 20px;
	position: absolute;
	top: -6px;
	left: 0;
}

.about-3-pc
{
	width: 100%;
	height: auto;
	text-align: center;
}

.about-3-pc img 
{
	max-width: 60%;
}
.core-value-sec
{
	width: 100%;
	height: auto;
	padding: 40px 0 20px 0;
}
.recon-6
{
	width: 100%;
	height: auto;
	padding: 0 0 30px 0;
}
.recon-6 .about-3-pc
{
	padding:20px 0 0px 0;
}
.home-p4 .circl-text
{
	top: 210px;
}
.rcv-pic
{
	width: 100%;
	height: auto;
	text-align: center;
	padding: 10px 0 0 0;
}
.rcv-pic img 
{
	max-width: 100%;
	max-height: 300px;
}
.recon-2 .re-dec li 
{
	width: 48%;
	padding: 0 0px 0 50px;
}
.recon-2 .re-dec li:last-child 
{
	float: right;
}
.recon-2 .key-plr ul
{
	padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.recon-2 .key-plr li
{
  list-style: none;
  width: 48%;
  justify-content: space-between;
  display: flex;
}

.login-container .form-icon-wrapper 
{
  background: #fff;
}
.ts .features-sec-icon {
  margin: 0 0 17px 0;
}
.ts
{
  padding: 0px 0 0px;
}
.rc-pic
{
	width: 100%;
	height: auto;
	text-align: right;
}
.rc-pic img 
{
	max-width: 100%;
}
.rcs
{
	padding:30px 0 40px;
  margin: 0px 0 0;
}
.rcs ul
{
	padding: 0 0 0 0px;
	position: relative;
	counter-reset: item;
}
.rcs ul li 
{
	position: relative;
	counter-increment: item;
	padding: 0 0 0 20px;
}
.rcs ul li:before 
{
	content: counter(item) ".";
	position: absolute;
	left: 0;
	top: 0;
}
.rcs-4-heading h3 
{
	font-size: 38px;
	font-family: 'Gilroy';
	color:#000;
	margin: 0 auto 0;
  max-width: 80%;
}
.abt-sec
{
	width: 100%;
	height: auto;
	margin-top: 30px;
	position: relative;
}

.abt-icon
{
	width: 100%;
	height: auto;
	margin: 0 0 7px 0;
	text-align: center;
}
.abt-icon img 
{
	margin: 0 0 0 -10px;
}
.bnr-dec p, .abt-sec p
{
  text-align: justify;
}
.abt-sec:before
{
  content: "";
  height: 2px;
  width: 97%;
  background:rgba(0, 0, 0, .1);
  position: absolute;
  left: 20px;
  top: 32px;
  z-index: -1;
}
.about-banner-top
{
	text-align: center;
}
.about-banner-top p {
  text-align: center;
  font-size: 18px;
}
.re-heading
{
	text-align: center;
	margin: 0 0 30px 0;
}
.ret-left p
{
  font-size: 18px;
}
.ret-left ul li
{
	font-size: 18px;
}
.abt-bnr h5 
{
	text-align: center;
}